h1{
    font-size: 180px;
    color: brown;
    font-style:italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    background-color: blueviolet;
    border-radius: 180%;
    text-align: center;
    text-size-adjust: 150px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    
    
    
}
.titulo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: brown;
    
}
#texto1{
    font-size: 190px;
}

table{
    
    border-collapse:collapse;
    padding: 2px;
    }
    td{
        border: 2px solid pink;
    }
